:root {
    --primary-color: #FF900E;
    --gray-color: #727272;
    --deep-gray-color: #424242;
    --standard-color: #fff;
    --black-standard-color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}


/* DEFAUL CSS WRITE HERE  */

.primary {
    color: var(--primary-color);
}

.btn {
    padding: 15px 20px;
    background: var(--primary-color);
    border: none;
    border-radius: 7px;
    color: var(--standard-color);
    font-weight: 700;
}


/* WEBSITE LAYOUT DESIGNING STYLING */

header {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 30px 228px;
}

.branding h3 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.navlinks-item ul {
    display: flex;
    gap: 74px;
}

.navlinks-item ul li a {
    text-decoration: none;
    color: var(--deep-gray-color);
    font-size: 16px;
    font-weight: 600;
}


/* HEADER BANNER AND DESCRIPTION SECTION STYLING HERE  */

.header-hero {
    padding-top: 100px;
    padding-bottom: 35px;
}

.header-text-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.header-text-box h2 {
    font-size: 64px;
    text-align: center;
}

.header-text-box p {
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color: var(--gray-color);
}

.header-text-box img {
    width: 100%;
}


/* HERE WEB FEATURES ITEMS STYLING */

.feature-section {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 150px 250px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.feature-images img {
    width: 100%;
}

.feature-text-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feature-text-box h3 {
    font-size: 45px;
    color: var(--gray-color);
}

.feature-text-box span {
    color: #000;
}

.feature-text-box h4 {
    font-size: 45px;
    color: var(--primary-color);
}

.feature-text-box button {
    width: 180px;
}

.feature-text-box p {
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-color);
}


/* WEB FEATURES DEEP DETAILS SECTION STYLING HERE */

.features-deep-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 228px;
}

.container-text-box h3 {
    font-size: 45px;
    margin-left: 25px;
}

.container-text-box hr {
    width: 8px;
    height: 115px;
    background: #FF900E;
    border: none;
    position: relative;
    bottom: -100px;
}

.container-text-box p {
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-color);
}

.feature-detail-peragraph {
    padding-top: 25px;
    padding-bottom: 25px;
}

.feature-details-text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    width: 586px;
    height: 171px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 2px 10px 21px rgb(245, 244, 244);
}

.box h5 {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}

.feature-ex-box {
    background: var(--primary-color);
    width: 342px;
    padding: 50px 0;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    bottom: 120px;
    right: 90px;
    border-radius: 7px;
    color: #fff;
}

.feature-ex-box h2 {
    font-size: 65px;
}


/* FACTS DETAILS SECTION STYLING HERE */

.facts-details {
    width: 100%;
    padding: 50px 228px;
}

.facts-details-text-box {
    padding-bottom: 75px;
}

.facts-details-text-box h3 {
    font-size: 45px;
}

.facts-details-text-box p {
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-color);
    padding-top: 10px;
}

.facts-details-content-box {
    display: flex;
    justify-content: space-around;
}

.facts-details-box {
    border: 2px solid #FF900E;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
}

.facts-details-box h4 {
    font-size: 45px;
    color: #424242;
}

.facts-details-box p {
    font-size: 20px;
    color: #727272;
}


/* SPONSPORS DETAILS SECTION STYLING HERE */

.sponspor-section {
    padding: 150px 228px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.sponspor-text-box {
    text-align: center;
}

.sponspor-text-box h2 {
    font-size: 45px;
}

.sponspor-text-box p {
    line-height: 26px;
    color: var(--gray-color);
    padding-top: 24px;
}

.sponspor-image-box {
    display: flex;
    justify-content: space-evenly;
}


/* FOOTER PART STYLING HERE  */

.footer {
    text-align: center;
    padding: 0 228px;
    padding-bottom: 216px;
}

.footer-box {
    width: 1440px;
    background: #FFF4E7;
    padding: 40px 0;
    border-radius: 10px;
    color: #424242;
    font-size: 20px;
}


/* MEDIA QUERIES STYLING HERE  */


/* THIS IS TABLET SCREEN SIZE RESPONSIVE CSS STYLING HERE  */

@media screen and (min-width: 768px) and (max-width: 1023px) {}


/* THIS IS SMARTPHONE SCREEN SIZE RESPONSIVE CSS STYLING HERE  */

@media screen and (max-width: 767px) {}